/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/* header
********************************************************************/

#dokuwiki__header {
    margin: 2em 0 0 0;
}

#dokuwiki__header .headings {
    margin-bottom: 2.1em;
}
#dokuwiki__header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: __link__;
    background-color: inherit;
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
}
#dokuwiki__header h2 {
    margin-bottom: 0;
    font-size: 1.125em;
}

#dokuwiki__header .tools {
    margin-bottom: 2.1em;
}
#dokuwiki__header .tools ul {
    margin-bottom: 0;
}
#dokuwiki__header .tools ul li {
    display: inline;
}

#dokuwiki__header form.search {
    margin: .5em 0 0;
    /*display: block;*/
}
#dokuwiki__header form.search #qsearch__in {
    /* ad-hoc settings; must be redefined */
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: fill-available;
}
#dokuwiki__header form.search #qsearch__out {
    width: 83.4%;
    margin-left: 1.1em;
}
#dokuwiki__header form.search button{
    display: none;
}

#dokuwiki__header div.breadcrumbs {
    margin-bottom: 1em;
}
#dokuwiki__header div.breadcrumbs a {
    color: __existing__;
    background-color: inherit;
}


/* tools
********************************************************************/

/* make wiki links look the same as tool links in tool bars */
#dokuwiki__navbar a.wikilink1,
#dokuwiki__pagetools a.wikilink1,
#dokuwiki__navbar a.wikilink2,
#dokuwiki__pagetools a.wikilink2 {
    color: __link__;
    border-bottom-width: 0;
}
#dokuwiki__navbar a.wikilink2:hover,
#dokuwiki__pagetools a.wikilink2:hover,
#dokuwiki__navbar a.wikilink2:active,
#dokuwiki__pagetools a.wikilink2:active,
#dokuwiki__navbar a.wikilink2:focus,
#dokuwiki__pagetools a.wikilink2:focus {
    text-decoration: underline;
}

#dokuwiki__navbar a,
#dokuwiki__pagetools a {
    color: __text_navbar__;
}

#dokuwiki__navbar .navbar_title a,
#dokuwiki__navbar .navbar_title a:hover,
#dokuwiki__navbar .navbar_title a:active,
#dokuwiki__navbar .navbar_title a:focus {
    font-weight: bold;
    text-decoration: none;
}

/*Search form*/
.dokuwiki form.search div.ajax_qsearch {
top: auto;
left: 0em;
}

/* highlight selected tool */
/* before Greebo: */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe,
/* since Greebo: */
.mode_admin .action.admin a,
.mode_login .action.login a,
.mode_register .action.register a,
.mode_profile .action.profile a,
.mode_recent .action.recent a,
.mode_index .action.index a,
.mode_media .action.media a,
.mode_revisions .action.revs a,
.mode_backlink .action.backlink a,
.mode_subscribe .action.subscribe a {
    font-weight: bold;
}

/*____________ navbar ____________*/

#dokuwiki__navbar {
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 1px solid __border__;
    background-color: __background_navbar__;
    width: 100%;
    z-index: 99;
    height: 3em;
}
#dokuwiki__navbar div.navbar_wrapper {
    text-align: center;
    line-height: 3em;
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: "navbar_title navbar_search navbar_sitetools";
}
#dokuwiki__navbar div.navbar_title {
    grid-area: navbar_title;
    float: left;
}
#dokuwiki__navbar div.navbar_title ul{
    float: right;
    padding-right: 1em;
}
#dokuwiki__navbar div.navbar_search {
    grid-area: navbar_search;
    margin: 0 auto;
    width: __site_width__;
    border-left: 1px solid __border__;
    border-right: 1px solid __border__;
    padding: 0 1em;
    display: inline-block;
}
#dokuwiki__navbar div.navbar_sitetools {
    grid-area: navbar_sitetools;
    float: right;
}
#dokuwiki__navbar div.navbar_sitetools ul {
    float: left;
    padding-left: 1em;
}
#dokuwiki__navbar div.navbar_sitetools ul li {
    margin: 0 1.5em 0 0;
}
#dokuwiki__navbar ul {
    display: inline;
    padding: 0;
}
#dokuwiki__navbar ul li.user {
    float: left;
    margin-left: 0;
}
[dir=rtl] #dokuwiki__navbar ul li.user {
    float: right;
    margin-right: 0;
}
#dokuwiki__navbar ul li.navbar_title {
    float: left;
    margin-left: 0;
    width:100%;
    text-align: left;
}
#dokuwiki__navbar a span {
    display:none;
}
/*____________ page tools ____________*/

#dokuwiki__pagetools {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid __border__;
    background-color: __background_navbar__;
    width: 100%;
    z-index: 10;
    height: 3em;
}
#dokuwiki__pagetools div.pagetools_wrapper {
    width: __site_width__;
    line-height: 3em;
    border-left: 1px solid __border__;
    border-right: 1px solid __border__;
    margin: 0 auto;
    padding: 0 1em;
}
#dokuwiki__pagetools div.pagetools_wrapper ul {
    padding: 0;
}
#dokuwiki__pagetools ul li {
    display: inline;
    margin: 0 1.5em 0 0;
}
/* before Greebo: */
#dokuwiki__pagetools ul li a.action.top,
/* since Greebo: */
#dokuwiki__pagetools ul li.action.top a {
    float: right;
}
/* before Greebo: */
[dir=rtl] #dokuwiki__pagetools ul li a.action.top,
/* since Greebo: */
[dir=rtl] #dokuwiki__pagetools ul li.action.top a {
    float: left;
}

/* hide background images from menu items inserted via plugins */
#dokuwiki__pagetools ul li a {
    background-image: none !important;
}
#dokuwiki__pagetools ul li a::before {
    content: none !important;
}

#dokuwiki__pagetools svg,
#dokuwiki__navbar svg {
    fill: __text_navbar__;
    vertical-align: middle;
    margin-left: 0.5em;
    width: 1.5em;
}
#dokuwiki__pagetools a span {
    display:none;
}
/* sidebar
********************************************************************/

#dokuwiki__aside {
    padding-top: .4em;
}

.dokuwiki .aside {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.2;
}

/* make sidebar more condensed */

.dokuwiki .aside h1 {
    margin-bottom: .222em;
}
.dokuwiki .aside h2 {
    margin-bottom: .333em;
}
.dokuwiki .aside h3 {
    margin-bottom: .444em;
}
.dokuwiki .aside h4 {
    margin-bottom: .5em;
}
.dokuwiki .aside h5 {
    margin-bottom: .5714em;
}

.dokuwiki .aside p,
.dokuwiki .aside ul,
.dokuwiki .aside ol,
.dokuwiki .aside dl,
.dokuwiki .aside pre,
.dokuwiki .aside table,
.dokuwiki .aside fieldset,
.dokuwiki .aside hr,
.dokuwiki .aside blockquote,
.dokuwiki .aside address {
    margin-bottom: .7em;
}

.dokuwiki .aside ul,
.dokuwiki .aside ol {
    padding-left: .5em;
}
[dir=rtl] .dokuwiki .aside ul,
[dir=rtl] .dokuwiki .aside ol {
    padding-right: .5em;
}
.dokuwiki .aside li ul,
.dokuwiki .aside li ol {
    margin-bottom: 0;
    padding: 0;
}


/* content
********************************************************************/

.dokuwiki .page {
    word-wrap: break-word;
}

/* license note in footer and under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 2.8em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
}

#dokuwiki__footer .doc {
    float: left;
}
#dokuwiki__footer .top {
    float: right;
}

#dokuwiki__footer .license {
    clear: both;
}
#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

#dokuwiki__footer .dokuwiki__userinfo {
    margin-top: 2em;
}

#dokuwiki__footer .dokuwiki__userinfo ul{
    float: right;
}

#dokuwiki__footer .dokuwiki__userinfo ul li{
    display: inline;
}
